body,
html {
  height: 100%;
}
*,
::after,
::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.site__navbar__item,
body {
  line-height: var(--main-line-height);
}
.site__btn:hover,
.site__logo__text:hover,
.site__navbar__link:hover {
  color: var(--button-color);
}
.hero__des,
.hero__title,
.site__btn {
  color: var(--white-color);
}
.section-two__btn,
.site__btn {
  cursor: pointer;
  transition: 0.3s;
}
.section-two__btn,
.site__btn,
.site__navbar__link {
  transition: 0.3s;
}
:root {
  --brand-color: #222222;
  --text-color: #444444;
  --white-color: #ffffff;
  --bg-color: #0eb4c1;
  --main-font: "Open Sans", Arial, sans-serif;
  --main-size: 1.6rem;
  --main-line-height: 150%;
  --main-weight: 400;
  --button-padding: 1.2rem 2.4rem;
  --button-color: #de2e54;
  --button-border: 2px solid #de2e54;
  --button-bg: none;
  --border-radius: 0.8rem;
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v35-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v35-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v35-latin-600.woff2") format("woff2"),
    url("../fonts/open-sans-v35-latin-600.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v35-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v35-latin-700.ttf") format("truetype");
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: var(--main-size);
  color: var(--brand-color);
  font-weight: 400;
}
main {
  flex-grow: 1;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
ol,
ul {
  list-style-type: none;
}
img {
  display: flex;
  object-fit: cover;
}
.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 17rem;
  margin: 0 auto;
}
.header {
  padding: 2.4rem 0;
}
.header__container {
  display: flex;
  align-items: center;
}
.site__logo-image {
  margin-right: 1.6rem;
}
.site__logo__text {
  font-weight: 600;
  font-size: 2.4rem;
  margin-right: 11.4rem;
  transition: 0.3s;
}
.site__btn,
.site__navbar__item {
  font-weight: 700;
  text-transform: uppercase;
}
.site__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site__navbar__list {
  display: flex;
  gap: 3.2rem;
  margin-right: 11.45rem;
}
.site__navbar__item {
  font-size: 1.4rem;
}
.site__btn {
  background: var(--button-color);
  border: var(--button-border);
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  letter-spacing: 1px;
}
.hero,
.section-two {
  background: var(--bg-color);
}
.site__btn:hover {
  background: #fff;
  border: 2px solid #de2e54;
}
.hero {
  margin-bottom: 12rem;
}
.hero__container {
  display: flex;
}
.hero__info {
  padding: 12rem 0;
  margin-right: 17.7rem;
}
.hero__title {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 120%;
  max-width: 550px;
  letter-spacing: -3px;
  margin-bottom: 1.6rem;
}
.hero__des {
  font-size: 1.8rem;
  max-width: 40rem;
  font-weight: 400;
  margin-bottom: 3.6rem;
}
.section-one__item__info__title,
.section-one__title,
.section-two__btn,
.section-two__title {
  font-weight: 700;
  line-height: 120%;
}
.hero__image {
  margin: auto 0 0;
}
.section-one {
  margin-bottom: 12rem;
}
.section-one__title {
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  margin-bottom: 5.6rem;
}
.section-one__item {
  display: flex;
  gap: 6.4rem;
  margin-bottom: 8rem;
}
.section-one__item__image {
  box-shadow: 0 12px 24px -8px rgba(0, 107, 116, 0.3);
  border-radius: 24px;
}
.section-one__item__info {
  padding: 2.55rem 0;
}
.section-one__item__info__title {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}
.section-one__item__info__des {
  max-width: 600px;
  color: var(--text-color);
}
.item__btn {
  display: flex;
  margin: 0 auto;
}
.section-two__title {
  padding-top: 6.4rem;
  font-size: 3.6rem;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.section-two__btn,
.section-two__btn:hover {
  padding: var(--button-padding);
  color: var(--white-color);
}
.section-two__btn {
  background: var(--button-bg);
  border: 2px solid #fff;
  border-radius: var(--border-radius);
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-two__btn:hover {
  background: var(--button-color);
  border: var(--button-border);
  border-radius: var(--border-radius);
}
.section-two__btn:not(:last-child) {
  margin-right: 4rem;
  margin-left: 25.6rem;
  margin-bottom: 6.4rem;
}
.footer {
  background: var(--brand-color);
}
.footer__container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding: 2.4rem 17rem;
  margin: 0 auto;
}
.footer__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--white-color);
}
